@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monomaniac One', sans-serif;

}  
body{
    background: #1e2021;
}
.box{
    display: flex;
    justify-content: center;
    color: white;
}
.box img{
    width: 300px;
}