@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monomaniac One', sans-serif;
}

.container{
    width: 100%;
}
.goi{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;

}
nav .logo{
    width: 80px;
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
nav ul {
    padding-right: 30px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-bottom: 3px solid transparent;
    
}
nav ul li a:hover
{
    border-bottom: 3px solid rgb(0, 0, 0);
    transition: .4s;
}
.search-box{  
   width: 200px;
   height: 40px;
   display: flex;
   align-items: center;
   padding: 10px;
   margin-right: 100px;
   border-bottom: 2px solid black;
}
.search-txt{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    padding-left: 10px;
}
::placeholder{
  color: rgb(0, 0, 0);
 
}
.search-box a{
    font-size: 15px;
    color: black;
}
.form  a{
    font-size:20px ;
    color: #000000;
    margin-right: 30px;
    transition: .2s;
}
.form a:active{
    color: #fff;
}



/* product_2 */

.poster img{
    margin-top: 40px;
    width: 100%;
   border: 1px solid black;
}

/* shop shoe */
#autoWidth{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
}
a{
    text-decoration: none;
}
.box{
    width: 360px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
}
.slide-img{
    height: 400px;
    position: relative;
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
}
.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.type{
    display: flex;
    flex-direction: column;
}
.type a{
    color: #000000;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}
.type span{
    color:rgba(26, 26, 26, 0.5);   
}
.price{
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 12, 12, 0.7);
    /* opacity: 0.7;  */

}
.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0,.2);
}   

.buy-btn a{
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.buy-btn a:hover{
    color: rgb(202, 42, 42);
    transition: all ease 0.3s;
}
.overlay{
    visibility: hidden;
}
.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.cs-hidden>li{
    list-style: none;
    padding: 0 10px;
}



/* footer */
footer{
    height: 200px;
    color: #000000;
    margin-top: 90px;
}
.contain{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    position: relative;

}
.day{
    display: flex;
    justify-content: space-between;
    
}

.day .day_tong{
    display: flex;
}
.day .day_1{
   margin: 0 30px;
   margin-right: 100px;
}
.day .day_1 h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
    font-size: 10px;
    font-weight: 100px;
    color: rgb(175, 173, 173);
}
.icon a{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-left: 10px;
}
.add{
    position: absolute;
    right: 0;
}
.add ul li{
    display: inline-block;
    list-style: none;
}
.add ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    color: rgb(175, 173, 173);
    margin-right: 10px;
}
.location{
    margin-top: 30px;
    display: flex;
}
.location p{
    margin-left: 2%;
    color: rgb(175, 173, 173);
}
.location a{
    color: rgb(175, 173, 173);
}



