@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    background: #181a1b;
    max-width: 1400px;    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
    width: 100px;
    margin-bottom: 20px;
}
.content .enter {
    font-size: 30px;
    color: #fff; 
}
.content .text_field{
    margin: 30px 0;
    
}
.text_field input{
   width: 100%;
   padding:  20px;
   color: white;
   border: 2px solid #333 ;
   outline: none;
   border-radius: 10px;
   border-bottom: 2px solid #333;
   background: none;
}

.text_field label{
    margin-bottom: 30px;
    color: #868686;
}
.pass {
    font-size: 20px;
    color: #857777;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pass a{
    color: #857777;
    margin:5px;
}
button{
    font-size: 20px;
    padding: 15px 40px;
    border-radius: 20px;
    color:white;
    background-color: black;
    border: none;
    margin-bottom: 10px;
    transition: .4s;
}
button:hover{
   background: #857777;
   color: #fff;
}