@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monomaniac One', sans-serif;

}  
.container{
    background: #1e2021;
}
.goi{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/* part-2 */
#intro{
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}
/* part-3 */
.intro-1{
   position: relative;
   left: 25% ;
   margin-top: 5%;
   width: 50%;
   text-align: center;
   font-size: 30px;
   color: #ffffff;
}
.intro-1>h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
/* video */
video{
    margin-top: 100px;
    text-align: center;
    width: 100%;
}
/*  Shop By Sport  */
.shop{
    margin-top: 5%;
    color: white;
}
h3{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    column-gap: 20px;
}
.item{
    margin:20px 0;
}
.items img{
    width: 100%;
}

.products{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.product>p{
    text-align: center;
    position: relative;
    left: 10px;
    bottom: 100px;
    padding:10px 0;
    width: 100px; 
    border: 3px solid;
    background: #ffffff;
    font-size: 15px;
}
.product>img{
   width: 380px;
}
/* join us */
.join>h3{
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}
.join img{
    width: 100%;
}
/* footer */
